ol.recipeSteps li {
  list-style-type: none;
}

ol.recipeSteps label.checked {
  text-decoration: line-through;
}

div.timerContainer {
  float: right;
  width: 125px;
}

div.timer {
  position: fixed;
}

div.timer button {
  margin-left: 5px;
  font-size: 30;
}

div.progressionBar {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: red;
  z-index: -1;
}

div.recipeContainer {
  float: left;
}

input.add {
  margin-left: 3px;
}

input.close {
  float: right;
}
